<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="border-bottom: 2px solid #3c3a41; background-color: #1f1f1f">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white; margin-left: 10px; font-weight: bold"->MyBlog</a>
            <div class="collapse navbar-collapse" id = "navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  href="/"  style="color: white">Главная</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page"  href="/about"  style="color: white">О разработчике</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_post">Новый пост</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div style="margin-left: 9%; margin-top: 7%;">
    <h1 class="fw-bold" style="color: black; font-size: 35px">О разработчике</h1>
    <h4 style="margin-top: 5%">Разработано студенткой группы ПУОР22-2м</h4>
</div>




  </body>
</html>